form{
	margin-left: 450px;
	border:1px solid black;
	background-color: #dedbd3;
	width:400px;
}
input{
	margin-top: 10px;
	width: 200px;
}
select{
	margin-top: 10px;
}

h3{
	margin-left: 25px;
}
.fnm{
	margin-left: 70px;
}
.lnm{
	margin-left: 72px;
}
.dob{
	margin-left: 57px;
}
.gender{
	margin-left: 92px;
}
.email{
	margin-left: 100px;
}
.remail{
	margin-left: 45px;
}
.pwd{
	margin-left: 75px;
}
.rpwd{
	margin-left: 20px;
}
.sans{
	margin-left: 28px;
}
.address{
	margin-left: 80px;
}
.code{
	width: 80px;
	margin-mid: 10px;
}
.city{
	margin-left: 105px;
}
.state{
	margin-left: 100px;
}
.phone{
	width: 100px;
}
.zipcode{
	margin-left: 72px;
}
.ph{
	margin-left: 90px;
}
.newlabel{

	margin-left: 145px;
	font-size:13px;
}
button{
	border-radius: 12px;
	margin-top: 20px;
	margin-left: 100px;
	width: 80px;
	background-color: black;
	color: white;
}