header{
	
	background-image: url(black.png);
	width:400px;
	height:80px; 
	margin-left: 490px;
}
h1{
	color: white;
	text-align: center;
	margin-top: 30px;

}
.form-margin{
	margin-top: 30px;
}
.item-margin{
	margin-top: 10px;
}

button{
	border-radius:12px;
	background-color:#a053ed;
	margin-left: 650px;
	color: white;
}
form{
	margin-top: 30px;
	margin-left:10px;

}
.input-icons i { 
            position: absolute; 
        } 
          
        .input-icons { 
            width: 100%; 
            margin-bottom: 10px; 
        } 
          
        .icon { 
            padding: 10px; 
            min-width: 40px; 
        } 
          
        .input-field { 
            width: 100%; 
            padding: 10px; 
            text-align: center; 
        } 