img{
	height:315px;
	width:215px;
	
}

images{
	margin-top:200px;
}

.img1{
	margin-left: 200px;
}

.imgall{
	margin-left: 30px;
}

.C1{
	margin-left: 250px;
}
.C2{
	margin-left: 150px;
}
.C3{
	margin-left: 180px;
}
.cont{
	margin-top: 50px;
	margin-left: 270px;
	margin-right: 270px;

}