caption{
	font-weight: bold;
	text-align:left;
}
#id1{
	background-color:#a4cff5;
	font-weight: bold;
}
#id3{
	background-color: #f5a4c6;
}
#id4{
	background-color: #fcf18b;
}
th{
	background-color:#5bf591;
}